###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/node_modules/

###> symfony/asset-mapper ###
/assets/vendor/
/public/assets/
###< symfony/asset-mapper ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
.phpunit.result.cache
/phpunit.xml
###< phpunit/phpunit ###
