ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

article {
  border: 1px solid var(--colour-outline-variant);
  border-radius: var(--shape-medium);
  font: var(--body-large);
  margin-bottom: 8px;
  padding: 16px;
}

.day {
  position: relative;
}

.day__title {
  font: var(--label-large);
  margin: 0 0 12px;
}

.day__month {
  color: var(--colour-on-surface-variant);
}

.day__actions {
  display: flex;
  position: absolute;
  right: 4px;
  top: 4px;
}

.icon {
  height: var(--icon-size);
  width: var(--icon-size);
}

.recipe {
  align-items: center;
  color: var(--colour-primary);
  display: flex;
  gap: 8px;
  text-decoration: none;

  .icon {
    --icon-size: 18px;
  }
}

.meal--empty {
  color: var(--colour-on-surface-variant);
}

.list__item {
  font: var(--body-large);
  --list-x-padding: 16px;
  padding: 8px var(--list-x-padding);

  a& {
    align-items: center;
    color: inherit;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    min-height: 32px;
    text-decoration: none;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .icon {
    color: var(--colour-on-surface-variant);
    flex-shrink: 0;
  }
}
