body:has(dialog[open]) {
  overflow: hidden;
}

dialog {
  --background: var(--colour-surface-container-high);
  background-color: var(--background);
  border: 0;
  border-radius: var(--shape-extra-large);
  box-sizing: border-box;
  min-width: 280px;
  opacity: 0;
  overscroll-behavior: contain;
  padding: 24px;
  transform: scale(0.7);
  transition:
    display var(--duration-short-3) var(--transition-standard) allow-discrete,
    opacity var(--duration-short-3) var(--transition-standard),
    overlay var(--duration-short-3) var(--transition-standard) allow-discrete,
    transform var(--duration-short-3) var(--transition-standard);
  width: calc(100vw - 2 * 32px);

  &.full-screen {
    --background: var(--colour-surface);
    border-radius: 0;
    height: 100vh;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
  }

  &[open] {
    opacity: 1;
    transform: scale(1);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.32);
  }

  --header-size: 56px;

  .dialog__header {
    align-items: center;
    background-color: var(--colour-surface);
    box-sizing: border-box;
    color: var(--colour-on-surface);
    display: flex;
    gap: 4px;
    height: var(--header-size);
    margin: -24px -24px 16px;
    padding: 0 24px 0 4px;

    h2 {
      flex: 1;
      font: var(--title-large);
      margin: 0;
    }

    .button--icon {
      order: -1;
    }
  }
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scale(0.7);
  }
}

.dialog__text {
  color: var(--colour-on-surface);
  font: var(--body-medium);
  margin-bottom: 24px;
}

.dialog__actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 24px;
}
