<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="oklch(95.02% 0.015 332.24)" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="oklch(24.21% 0.0127 314.57)" media="(prefers-color-scheme: dark)">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ importmap('app', {nonce: csp.nonce}) }}
  <noscript>
    <style nonce="{{ csp.nonce }}">
      .needs-js {
        display: none;
      }
    </style>
  </noscript>
  <title>{% block title %}{% endblock %} · Grimoire</title>
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="{{ asset('images/icon.svg') }}" type="image/svg+xml">
  {% block head %}{% endblock %}
</head>
<body>
{% block header %}
  <h1>{{ block('title') }}</h1>
{% endblock %}
{% block body %}{% endblock %}
</body>
</html>
