<nav>
  {% set needs_two_lines = links|filter(link => link.detail is defined) is not empty %}
  {% for link in links %}
    <a class="list__item state {% if needs_two_lines %}list__item--two-lined{% endif %}" href="{{ link.url }}">
      <div>
        {{ link.name }} {% if link.detail is defined %}<span>{{ link.detail }}</span>{% endif %}
      </div> {{ ux_icon('tabler:chevron-right') }}
    </a>
  {% endfor %}
</nav>
