{% extends 'layouts/app.html.twig' %}
{% block title recipe.name %}
{% block content %}
  {{ include('recipes/_recipe.html.twig', {recipe, folder}, with_context=false) }}
  {% set url = path('recipe_share', {id: recipe.id}) %}
  <form action="{{ url }}" class="fab" data-action="recipe#share:prevent" data-controller="recipe" method="post">
    <button aria-label="Partager" class="button button--fab state">{{ ux_icon('tabler:share-3') }}</button>
  </form>
{% endblock %}
