{% extends 'base.html.twig' %}
{% block title 'Toutes vos recettes' %}
{% block header %}
  <header>
    <a class="button button--icon state" href="{{ path('folder_list') }}">{{ ux_icon('tabler:arrow-left') }}</a>
    {{ parent() }}
  </header>
{% endblock %}
{% block content %}
  {% set links = recipes|map(recipe => {name: recipe.name, url: path('recipe_display', {id: recipe.id})}) %}
  {{ include('shared/_nav-list.html.twig', {links}, with_context=false) }}
{% endblock %}
